{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotpass Page</title>
    <link href="{%static 'bootstrap-5.3.3-dist\css\bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
<link rel="stylesheet" href="{%static 'css/login.css' %}">
<link rel="stylesheet" href="{%static 'css/base.css' %}">

</head>
<body>





    <!-- Forgotpass sectiion -->
   <section class="loginmain"  style="background-image: url('static/images/line-bg2.png');">
   
        
<div class="logincen" style="display: flex;justify-content: center;align-items: center;">
 
        <!-- Login form start -->
        <div class="container cont" style="margin-top: 170px;" data-aos="zoom-in-down" data-aos-duration="1000">
            <div class="heading">Forgot Password</div>
           
            {% if err %}
            <div class="alert alert-danger" role="alert">
             {{err}}
            </div>
                       
            {% endif %}

            {% if msg %}
            <div class="alert alert-success" role="alert">
             {{msg}}
            </div>
                       
            {% endif %}
           

            <form class="forml" action="" method="POST">
              {% csrf_token %}
             
              <!-- Email field -->
              <div class="group" style="margin-bottom: 20px;">
                <svg stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon1">
                    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M2.25 6.75A2.25 2.25 0 014.5 4.5h15a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-15A2.25 2.25 0 012.25 17.25V6.75zM3 6l8.25 5.25L19.5 6"
    />
              </svg>
              <input class="input1" type="email" placeholder="Email" name="email" required>
              </div>
                 
              <button  class="login-button">Submit</button>
            </form>
            
<div class="account" style="display: flex;align-items: center;justify-content: center;gap:5px;padding-top: 20px;">
            <p style="font-size: 13px;">Login to your Existing Account?</p>
         <a href="{%url 'signup' %}" style="text-decoration: none;"><p class="signup">Signup</p></a>
        </div>

        
          
<!-- Login form ends -->

</div>
   </section>


    
    
   <script src="{%static 'bootstrap-5.3.3-dist\js\bootstrap.bundle.min.js' %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    

    
</body>
</html>
{% endblock %}
